<ion-view cache-view="false" view-title="เปลี่ยนรหัสผ่าน">

  <ion-content>

  	<form name="changePasswordForm" novalidate="" ng-submit="changePassword(changePasswordForm)">

	    <div class="list">

		 	<label class="item item-input" ng-class="{ 'has-errors' : changePasswordForm.oldPassword.$invalid, 'no-errors' : changePasswordForm.oldPassword.$valid}">
		 		<span class="input-label">รหัสผ่านเดิม</span>
		    	<input type="password" name='oldPassword' ng-model='changePassword.oldPassword' required>
		  	</label>
		  	<div class="error-container" ng-show="changePasswordForm.oldPassword.$error" ng-messages="changePasswordForm.oldPassword.$error">
              <div ng-messages-include="error-list.html"></div>
            </div>

		  	<label class="item item-input" ng-class="{ 'has-errors' : changePasswordForm.newPassword.$invalid, 'no-errors' : changePasswordForm.newPassword.$valid}">
		  		<span class="input-label">รหัสผ่านใหม่</span>
		    	<input type="password" name='newPassword' ng-model='changePassword.newPassword' ng-minlength='8' ng-maxlength='12' required>
		  	</label>
		  	<div class="error-container" ng-show="changePasswordForm.newPassword.$error" ng-messages="changePasswordForm.newPassword.$error">
              <div ng-messages-include="error-list.html"></div>
            </div>

            <label class="item item-input" ng-class="{ 'has-errors' : changePasswordForm.confirmNewPassword.$invalid, 'no-errors' : changePasswordForm.confirmNewPassword.$valid}">
		  		<span class="input-label">ยืนยันรหัสผ่าน</span>
		    	<input type="password" name='confirmNewPassword' ng-model='changePassword.confirmNewPassword' ng-pattern='changePassword.newPassword' required>
		  	</label>
		  	<div class="error-container" ng-show="changePasswordForm.confirmNewPassword.$error" ng-messages="changePasswordForm.confirmNewPassword.$error">
              	<div ng-messages-include="error-list.html"></div>
            </div>

		</div>

		<input type='submit' ng-disabled='noInternet' class='button button-block button-positive' value='ตกลง' />

	</form>   

	<script id="error-list.html" type="text/ng-template">  
		<div class="error" ng-message="required">
		  <i class="ion-information-circled"></i> 
		  ต้องกรอกข้อมูล!
		</div>
		<div class="error" ng-message="minlength">
	      <i class="ion-information-circled"></i> 
	      รหัสผ่านต้องมากกว่า 8 ตัวอักษร!
	    </div>
	    <div class="error" ng-message="maxlength">
	      <i class="ion-information-circled"></i> 
	      รหัสผ่านต้องน้อยกว่า 12 ตัวอักษร!
	    </div>
		<div class="error" ng-message="pattern">
		  <i class="ion-information-circled"></i> 
		  รหัสผ่านต้องเหมือนกัน!
		</div>
	</script> 

  </ion-content>
    
</ion-view>



