<ion-view view-title="หนังสือเวียน">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <h2>วันที่ 2 ก.พ.59</h2>
            </div>
            <a href="#" class="item">
                <h2>แต่งตั้งผู้รักษาการแทน</h2>
                  <p>คำสั่ง ทอท.ที่ 135/59 (ฝบค.)</p>
            </a>
            <a href="#" class="item">
                <h2>ให้พนักงานเดินทางไปปฏิบัติงานภายในประเทศ</h2>
                 <p>คำสั่ง ทอท.ที่ 148/59  (ฝบค.)</p>
            </a>
            <div class="item item-divider">
                <h2>วันที่ 29 ม.ค.59</h2>
            </div>
            <a href="#" class="item item-text-wrap">
                <h2>รายงานสรุปความเคลื่อนไหวหุ้น ทอท. ประจำวันที่ 29 ม.ค. 59</h2>
                <p>69/59  (ศลส.)</p>
            </a>
        </div>
    </ion-content>
</ion-view>
