<ion-view cache-view="false" view-title="จัดการเวร">
    <ion-content>

    	<div class='bar bar-header bar-stable item-icon-right'>
    		<h1 class='title'>{{viewTitle}}</h1>
    		<i ng-show='canCheckIn' style='cursor:pointer;' ng-click='CheckIn()' class='icon ion-ios-location'></i>
    	</div>

    	<div>
    		<calendar calendar-mode="month" title-changed="onViewTitleChanged(title)" time-selected="onTimeSelected(selectedTime)">
    		</calendar>
    	</div>
		
	   <ion-list>


        <div ng-repeat="group in dutyGroups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            <b>{{group.name}}</b>
          </ion-item>

          <ion-item class="item-accordion" ng-show="isGroupShown(group)">

            <div ng-show='$index > 0'>
              <div ng-repeat="item in group.items">
                {{item}}
              </div>
            </div>
            
            <div ng-show='$index == 0'>
              <div ng-repeat="item in group.items" class='card'>
                <div  class='item item-text-wrap'>
                  <button ng-show='item.showDeleteBtn' ng-click='deleteCheckIn()' class='button button-assertive button-small delete-checkin-button'><i class='icon ion-close-circled'></i></button>
                  <div><b>{{item.type}}</b> : {{item.name}}</div>
                  <div><b>ตำแหน่ง : </b> {{item.position}}</div>
                  <div><b>หมายเหตุ : </b> {{item.remark}}</div>
                </div>  
              </div>
            </div>

          </ion-item>

        </div>

      </ion-list>


    </ion-content>
</ion-view>

<style type="text/css">
  .delete-checkin-button{
    position:relative;
    float: right;
  }
</style>
