<ion-view view-title="ข้อมูลเบิกจ่าย">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <h2>วันที่ 2 ก.พ.59</h2>
            </div>
            <a href="#" class="item">
                <h2>คำสั่งแต่งตั้ง</h2>
            </a>
            <a href="#" class="item">
                <h2>ประกาศ</h2>
            </a>
            <a href="#" class="item">
                <h2>คำสั่งแต่งตั้ง</h2>
            </a>
            <div class="item item-divider">
                <h2>วันที่ 29 ม.ค.59</h2>
            </div>
            <a href="#" class="item">
                <h2>คำสั่งแต่งตั้ง</h2>
            </a>
            <a href="#" class="item">
                <h2>ประกาศ</h2>
            </a>
            <a href="#" class="item">
                <h2>คำสั่งแต่งตั้ง</h2>
            </a>
        </div>
    </ion-content>
</ion-view>
v