<ion-view cache-view="false" hide-back-button="true" view-title="หน้าแรก">

  <ion-content>

    <div class='card text-center'>
      <h4>AOT Mobile Services</h4>

      <!--<div class='item item-image'>-->
        <!--<img src="img/AOT_Logo.png">-->
      <!--</div>-->

    </div>

    <!-- <div class="row">
      <div class="col col-33 text-center">
        <div class='card'>
          <a class="item" href="#/app/selfservice">
            <i class="icon larger ion-ios-person"></i>
            <h4 class="item-text-wrap">Self Services</h4>
          </a>
        </div>
      </div>
      <div class="col col-33 text-center">
        <div class="card">
          <a class="item" href="#/app/home/circular-letter">
            <i class="icon larger ion-clipboard"></i>
            <h4 class="item-text-wrap">ข่าวสาร ทอท.</h4>
          </a>
        </div>
      </div>
      <div class="col col-33 text-center">
        <div class="card">
          <a class="item" href="#/app/information/finance">
            <i class="icon larger ion-information"></i>
            <h4 class="item-text-wrap">ตรวจสอบข้อมูล</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-33 text-center">
        <div class='card'>
          <a class="item" href="#/app/directory?pmroomid=0">
            <i class="icon larger ion-android-call"></i>
            <h4 class="item-text-wrap">สมุดโทรศัพท์</h4>
          </a>
        </div>
      </div>
      <div class="col col-33 text-center">
        <div class="card">
          <a class="item" href="#/app/stock">
            <i class="icon larger ion-ios-pulse-strong"></i>
            <h4 class="item-text-wrap">ราคาหุ้น</h4>
          </a>
        </div>
      </div>
      <div class="col col-33 text-center">
        <div class="card">
          <a class="item" href="#/app/qrcode">
            <i class="icon larger ion-qr-scanner"></i>
            <h4 class="item-text-wrap">QR-Code</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-33 text-center">
        <div class='card'>
          <a class="item" href="#/app/duty">
            <i class="icon larger ion-ios-body-outline"></i>
            <h4 class="item-text-wrap">จัดการเวร </h4>
          </a>
        </div>
      </div>
      <div class="col col-33 text-center">
        <div class="card">
          <a class="item" href="#/app/aotlive">
            <i class="icon larger ion-social-youtube"></i>
            <h4 class="item-text-wrap">AOT-Live</h4>
          </a>
        </div>
      </div>
      <div class="col col-33 text-center">
        <div class="card">
          <a class="item" href="#/app/feedback">
            <i class="icon larger ion-paper-airplane"></i>
            <h4 class="item-text-wrap">เสนอความคิดเห็น</h4>
          </a>
        </div>
      </div>
    </div> -->

    <div class='row' ng-if='$index % 3 == 0' ng-repeat='menu in menus'>
      <div class="col col-33 text-center">
        <div class='card'>
          <a class="item" href="{{menus[$index].link}}">
            <i class="icon larger {{menus[$index].icon}}"></i>
            <h4 class="item-text-wrap">{{menus[$index].text}} </h4>
          </a>
        </div>
      </div>
      <div class="col col-33 text-center" ng-if='($index + 1) < menus.length'>
        <div class='card'>
          <a class="item" href="{{menus[$index + 1].link}}">
            <i class="icon larger {{menus[$index + 1].icon}}"></i>
            <h4 class="item-text-wrap">{{menus[$index + 1].text}} </h4>
          </a>
        </div>
      </div>
      <div class="col col-33 text-center" ng-if='($index + 2) < menus.length'>
        <div class='card'>
          <a class="item" href="{{menus[$index + 2].link}}">
            <i class="icon larger {{menus[$index + 2].icon}}"></i>
            <h4 class="item-text-wrap">{{menus[$index + 2].text}} </h4>
          </a>
        </div>
      </div>
    </div>

    <div class='row' ng-show='!isAuthen' ng-click="login()">
      <button class="button button-block button-calm ">
         <i class="icon-left ion-log-in"></i> เข้าสู่ระบบ
      </button>
    </div>

  </ion-content>
  
</ion-view>

