<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="logInForm" novalidate="" ng-submit="doLogin(logInForm)">
      <div class="list">

        <label class="item item-input item-stacked-label login_input" ng-class="{ 'has-errors' : logInForm.username.$invalid, 'no-errors' : logInForm.username.$valid}">
          <span class="input-label">Username</span>
          <input type="number" name='username' placeholder="รหัสพนักงาน" ng-model="loginData.username" required>
        </label>
        <div class="error-container" ng-show="logInForm.username.$error" ng-messages="logInForm.$submitted && logInForm.username.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
        <!-- <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label> -->

        <label class="item item-input item-stacked-label login_input" ng-class="{ 'has-errors' : logInForm.password.$invalid, 'no-errors' : logInForm.password.$valid}">
          <span class="input-label">Password</span>
          <input type="password" name='password' placeholder="รหัสผ่านที่ใช้งาน internet ทอท."  ng-model="loginData.password" ng-minlength='8' ng-maxlength='24' required>
        </label>
        <div class="error-container" ng-show="logInForm.password.$error" ng-messages="logInForm.$submitted && logInForm.password.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

        <label class="item">
          <button class="button button-block button-positive" ng-disabled='noInternet' type="submit">Log in</button>
        </label>

      </div>
    </form>

    <script id="error-list.html" type="text/ng-template">  
      <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> 
        ต้องกรอกข้อมูล!
      </div>
      <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i> 
        รหัสผ่านต้องมากกว่า 8 ตัวอักษร!
      </div>
      <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i> 
        รหัสผ่านต้องน้อยกว่า 24 ตัวอักษร!
      </div>
    </script> 

    <div class='list card'>
      <div class='item item-image'>
        <img src="img/ssl-icon.png">
      </div>
    </div>

  </ion-content>
</ion-modal-view>
