<div ng-if='onWeb' class='device-cover'>
  <div class='device-screen' ng-include src="!content ? 'templates/menu_template.html' : null">
  </div>
</div>

<div ng-if='!onWeb'>
  <div ng-include src="!content ? 'templates/menu_template.html' : null">
  </div>
</div>

<style type="text/css">
  .device-cover{
    margin-top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 600px;
    height: 810px;
    background: url("img/ipad.png") no-repeat right top
  }
  .device-screen{
    position: absolute;
    z-index: 0;
    left: 63px;
    top:72px;
    width: 478px;
    height: 670px;
    background-color: white;
    transition:opacity .2s ease-in-out;
  }
  .content-wraper{
    overflow: hidden !important;
    height: 100%;
  }
</style>