<ion-view view-title="ข่าวประกาศ">
    <ion-content>

        <div class="list card">
            <a href="#/app/home/news" class="item item-body item-text-wrap">
                <h2>ทดม wifi ดีที่สุดจากการจัดอันดับ best wifi airport world 2015.</h2>
                <p>
                    Thailand’s Don Mueang International Airport has the world’s best airport WiFi,
                    according to the results of a new survey based on travellers’ experiences,
                    with zippy speeds that left European airports in the dust.
                    WiFi speed and quality have been tested in 185 airports worldwide.
                </p>
            </a>
        </div>
        <div class="list card">
            <a href="#/app/home/news" class="item item-body item-text-wrap">
                <h2>ครม.อนุมัติงบ 271 ล้านบาท ปลดล็อคการบิน</h2>
                <p>
                    กพท.จัดประชุม สายการบิน-สนามบิน 27 ม.ค.นี้ วางกฎคุมตุ๊กตาลูกเทพขึ้นเครื่องบิน
                    เตรียมออกกฎเข้มให้สถานะ ตุ๊กตาลูกเทพเป็นสัมภาระ ห้ามเปิดให้จองตั๋วเฉพาะ ชี้ตอนเครื่องขึ้นลงต้องจับยัดใต้โต๊ะ...
                </p>
            </a>
        </div>
        <div class="list card">
            <a href="#/app/home/news" class="item item-text-wrap">
                <h2>กพท.จัดประชุมสายการบิน วางกฎคุมตุ๊กตาลูกเทพขึ้นเครื่อง</h2>
                <img class="full-image" src="../img/angel_dalls.jpg">
                <p>
                    กพท.จัดประชุม สายการบิน-สนามบิน 27 ม.ค.นี้ วางกฎคุมตุ๊กตาลูกเทพขึ้นเครื่องบิน เตรียมออกกฎเข้มให้สถานะ ตุ๊กตาลูกเทพเป็นสัมภาระ ห้ามเปิดให้จองตั๋วเฉพาะ ชี้ตอนเครื่องขึ้นลงต้องจับยัดใต้โต๊ะ...
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
