<ion-view cache-view="false" view-title="Browser-Not-Support">
    <ion-content>

    <br />

    <div class="row">
        <div class="col text-center">
          <img src="img/sorry.png">
		</div>
    </div>

    <br />

    <div class='row'>
    	<div class='col text-center'>
    		<h1>Browser ของคุณไม่ Support ต้องใช้ Chrome เท่านั้น</h1>
    	</div>
    </div>

    <br />

    <div class='row'>
    	<div class='col text-center'>
    		<button class='button button-large button-balanced icon-left ion-social-chrome-outline' onclick='window.open("https://www.google.com/intl/th/chrome/browser/desktop/");'> ดาวน์โหลด Chrome คลิ๊ก!</button>
    	</div>
    </div>

    </ion-content>
</ion-view>