<ion-view view-title="ข้อมูลส่วนตัว">
    <ion-content>
        
        <div class='row'>
    		<div class='col text-center'>
               <!-- <img src="http://eservice2.airportthai.co.th/getimage.aspx?empID1={{currentUserName}}&empID2={{currentUserName}}" /> -->
               <img class='full-image' src="http://eservice2.airportthai.co.th/getimage.aspx?empID1={{profile.UserID}}&empID2={{profile.UserID}}" />
    		</div>
    	</div>

    	<div class='list'>
    		<div class="item item-divider">
			   <b>ข้อมูลส่วนตัว</b>
			</div>
			<div class="item" href="#">
			 	 <b>รหัสประจำตัว</b> : {{profile.UserID}}
			 </div>
			 <div class="item" href="#">
			 	 <b>ชื่อ</b> : {{profile.FullName}} {{profile.Nickname}}
			 </div>
			 <div class="item" href="#">
			    <b>ฝ่าย</b> : {{profile.Department}}
			 </div>
			 <div class="item" href="#">
			    <b>ส่วน</b> : {{profile.Section}}
			 </div>
			 <div class="item" href="#">
			    <b>ตำแหน่ง</b> : {{profile.Position}}
			 </div>
			 <div class="item" href="#">
			    <b>เบอร์-สำนักงาน</b> : {{profile.OfficeTel}}
			 </div>
			 <div class="item" href="#">
			    <b>เบอร์-แฟกซ์</b> : {{profile.OfficeFax}}
			 </div>
			 <div class="item" href="#">
			    <b>เบอร์-มือถือ</b> : {{profile.MobilePhone}}
			 </div>
			 <div class="item" href="#">
			    <b>อีเมล์</b> : {{profile.eMailAddress}}
			 </div>
			 <div class="item" href="#">
			    <b>Facebook</b> : {{profile.Facebook}}
			 </div>
			 <div class="item" href="#">
			    <b>Line</b> : {{profile.Line}}
			 </div>
    	</div>

    </ion-content>
</ion-view>
v