<ion-view view-title="ข้อมูลบุคคล">
    <ion-content>
       <!--  <div class="card" href="#app/information/hr/time">
            <div class="item item-divider">
                ข้อมูลวันลา
            </div>
            <a class="item" href="#app/information/leave">ลาป่วย
                <span class="item-note">3 วัน</span>
            </a>
            <a class="item" href="#app/information/leave">ลาพักผ่อน
                <span class="item-note">4 วัน</span>
            </a>
            <a class="item" href="#app/information/leave">ลากิจ
                <span class="item-note">0 วัน</span>
            </a>
        </div> -->

        <div class='card'>
            <a class="item item-stable" href="#app/information/leave">ข้อมูลวันลา
            </a>
        </div>

        <div class="card">
            <a class="item item-stable" href="#app/information/time">ข้อมูลการลงเวลา
            </a>
        </div>

        <div class="card">
            <a class="item item-stable" href="#app/information/royal">ประวัติการได้รับเครื่องราชย์
            </a>
        </div>

        <div class="card">
            <a class="item item-stable" href="#app/information/tax">ข้อมูลภาษี
            </a>
        </div>
        
    </ion-content>
</ion-view>