<ion-view view-title="ข้อมูลบุคคล">
    <ion-content>
       
        <div class='card'>
            <a class="item item-stable" href="#app/information/leave">ข้อมูลวันลา
            </a>
        </div>

        <div class="card">
            <a class="item item-stable" href="#app/information/time">ข้อมูลการลงเวลา
            </a>
        </div>

        <div class="card">
            <a class="item item-stable" href="#app/information/royal">ประวัติการได้รับเครื่องราชย์
            </a>
        </div>

        <div class="card">
            <a class="item item-stable" href="#app/information/tax">ข้อมูลภาษี
            </a>
        </div>
        
    </ion-content>
</ion-view>