<ion-view view-title="ข้อมูลบุคคล">
    <ion-content>
       <!---->
        <!--<div class='card'>-->
            <!--<a class="item item-stable" href="#app/information/leave"><i class="icon ion-briefcase"></i> ข้อมูลวันลา-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="card">-->
            <!--<a class="item item-stable" href="#app/information/time"><i class="icon ion-clock"></i> ข้อมูลการลงเวลา-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="card">-->
            <!--<a class="item item-stable" href="#app/information/royal"><i class="icon ion-star"></i> ประวัติการได้รับเครื่องราชย์-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="card">-->
            <!--<a class="item item-stable" href="#app/information/tax"><i class="icon ion-social-bitcoin"></i> ข้อมูลภาษี-->
            <!--</a>-->
        <!--</div>-->


        <div class="row">
            <div class="col col-33 text-center">
                <div class='card'>
                    <a class="item" href="#app/information/leave">
                        <i class="icon larger ion-briefcase"></i>
                        <div class="item-text-wrap">ข้อมูลวันลา</div>
                    </a>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div class="card">
                    <a class="item" href="#app/information/time">
                        <i class="icon larger ion-clock"></i>
                        <div class="item-text-wrap">ข้อมูลการลงเวลา</div>
                    </a>
                </div>
            </div>
            <div class="col col-33 text-center">

                <div class="card">
                    <a class="item" href="#app/information/royal">
                        <i class="icon larger ion-star"></i>
                        <div class="item-text-wrap">ประวัติการได้รับเครื่องราชย์</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-33 text-center">
                <div class='card'>
                    <a class="item item-stable" href="#app/information/tax">
                        <i class="icon larger ion-social-bitcoin"></i>
                        <div class="item-text-wrap">ข้อมูลภาษี</div>
                    </a>
                </div>
            </div>
        </div>

        
    </ion-content>
</ion-view>