<ion-view view-title="ตรวจสอบข้อมูล">
  <ion-tabs class="tabs-calm tabs-icon-top">

    <ion-tab title="ข้อมูลเบิกจ่าย" ui-sref="app.info.finance" icon-on="ion-social-bitcoin" icon-off="ion-social-bitcoin-outline">

      <ion-nav-view name="finance">
      </ion-nav-view>

    </ion-tab>

    <ion-tab title="ข้อมูลบุคคล" ui-sref="app.info.hr" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
      <ion-nav-view name="hr">
      </ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
