<ion-view view-title="ข้อมูลวันลา">
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                ลาป่วย {{leaveInfo.sickLeave.totalLeave}} วัน
            </div>
            <div class="item" ng-repeat='leavedate in leaveInfo.sickLeave.leaveDate'>
                วันที่ {{leavedate.leavefrom}}
            </div>
            
            <div class="item item-divider">
                ลาพักผ่อน {{leaveInfo.annualLeave.totalLeave}} วัน
            </div>
            <div class="item" ng-repeat='leavedate in leaveInfo.annualLeave.leaveDate'>
                วันที่ {{leavedate.leavefrom}}
            </div>            

            <div class="item item-divider">
                ลากิจ {{leaveInfo.personalLeave.totalLeave}} วัน
            </div>
            <div class="item" ng-repeat='leavedate in leaveInfo.personalLeave.leaveDate'>
                วันที่ {{leavedate.leavefrom}}
            </div>            

        </div>
    </ion-content>
</ion-view>
