<ion-view view-title="ข้อมูลวันลา">
    <ion-content>
        <ion-refresher pulling-text="โหลดข้อมูลใหม่" on-refresh="Refresh()">
        </ion-refresher>
        <div class="list">

            <!-- <label class="item item-input item-select">
                <div class="input-label">
                    ปีงบประมาณ
                </div>
                <select ng-change='ProcessLeaveSummary(ddlFiscalYear.selectedOptions.val)' ng-options='item.name for item in ddlFiscalYear.options track by item.val' ng-model='ddlFiscalYear.selectedOptions'>
                </select>
            </label> -->

            <div class="item item-divider">
                ปีงบประมาณ {{FiscalYear}}
            </div>

            <div ng-repeat="group in leaveSummaryGroups">

                <ion-item class="item-stable item-text-wrap" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;<b><u>{{group.name}}</u></b><p>&nbsp;&nbsp;&nbsp;&nbsp;{{group.Details}}</p>
                </ion-item>

                <ion-item class="item" ng-show="isGroupShown(group)">
                    <!-- <b>สิทธิ์ยกมา : </b> {{group.Bring | number}} วัน -->
                    สิทธิ์ยกมา : {{group.Bring | number}} วัน
                </ion-item>
                <ion-item class="item" ng-show="isGroupShown(group)">
                    สิทธิ์ในปีนี้ : {{group.YearRight | number}} วัน
                </ion-item>
                <ion-item class="item" ng-show="isGroupShown(group)">
                    รวมสิทธิ์ในการลา : {{group.SumRight | number}} วัน
                </ion-item>
                <a href="#/app/information/leavedetail?leavecode={{group.LeaveCode}}&leavename={{group.name}}&fiscalyear={{FiscalYear}}" class='item' ng-show="isGroupShown(group)">
                    ใช้ไปในปีนี้ : {{group.Used | number}} วัน
                    <span class='badge badge-assertive'><i class='ion ion-arrow-right-a'></i></span>
                </a>
                <ion-item class="item" ng-show="isGroupShown(group)">
                    คงเหลือ/ยกไป : {{group.Left | number}} วัน
                </ion-item>

            </div>

        </div>
    </ion-content>
</ion-view>
