<ion-view view-title="Leave">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                ลาป่วย 3 วัน
            </div>
            <div class="item">
                วันที่ 1 ม.ค.59
            </div>
            <div class="item">
                วันที่ 2 ม.ค.59
            </div>
            <div class="item">
                วันที่ 3 ม.ค.59
            </div>


            <div class="item item-divider">
                ลาพักผ่อน 2 วัน
            </div>
            <div class="item">
                วันที่ 4 ม.ค.59
            </div>
            <div class="item">
                วันที่ 5 ม.ค.59
            </div>


            <div class="item item-divider">
                กิจ 0 วัน
            </div>
        </div>
    </ion-content>
</ion-view>
