<ion-view view-title="รายละเอียดค่ารักษาพยาบาล">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <h2>ค่ารักษาพยาบาล</h2>
            </div>
            <div class="item">
                <h2>ประเภท รพ. </h2>
                <span class="item-text-wrap">{{MedicalDetails.hospitalType}}</span>
            </div>
            <div class="item">
                    <h2>ชื่อ รพ. : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.hospitalName}}</span>

            </div>
            <div class="item">
                    <h2>ประเภทผู้ป่วย : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.patientType}}</span>

            </div>
            <div class="item">
                    <h2>ความสัมพันธ์ : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.family}}</span>

            </div>
            <div class="item">
                    <h2>ชื่อผู้รับการรักษา : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.patientName}}</span>

            </div>
            <div class="item">
                    <h2>โรค : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.disease}}</span>

            </div>
            <div class="item">
                    <h2>ยอดเบิกได้ : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.total | number}} บาท</span>

            </div>
            <div class="item">
                    <h2>วันที่ใบเสร็จ : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.docdate}}</span>

            </div>
            <div class="item">
                    <h2>วันที่ ทอท.จ่ายเงิน : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.paidDate}}</span>
            </div>
            <div class="item">
                    <h2>ธนาคาร : </h2>
                    <span class="item-text-wrap">{{MedicalDetails.bankName}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
