<ion-view view-title="ค่ารักษาพยาบาล" hide-back-button="false">
    <ion-content>
    
            <div class='list' >

                <label class="item item-input item-select">
                    <div class="input-label">
                        ปีงบประมาณ
                    </div>
                    <select ng-change='ProcessMedical(ddlFiscalYear.selectedOptions.val)' ng-options='item.name for item in ddlFiscalYear.options track by item.val' ng-model='ddlFiscalYear.selectedOptions'>
                    </select>
                </label>

              <!--   <label class="item item-input item-select">
                    <div class="input-label">
                        โรค
                    </div>
                    <select ng-change='updateDisease(ddlDisease.selectedOptions.val)' ng-options='item.name for item in ddlDisease.options track by item.val' ng-model='ddlDisease.selectedOptions'>
                    </select>
                </label> -->

                <div class='item item-divider'>
                    ประเภท
                </div>

                <div class="item-accordion" ng-repeat="item in PatientTypes track by $index">
                  <ion-item class="item item-checkbox">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="item.selected" ng-change="updatePatientType(item)">
                    </label>
                    {{item.name}}
                  </ion-item>
                </div>

                <div class='item item-divider'>
                    ประเภทโรงพยาบาล
                </div>

                <div class="item-accordion" ng-repeat="item in HospitalTypes track by $index">
                  <ion-item class="item item-checkbox">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="item.selected" ng-change="updateHospitalType(item)">
                    </label>
                    {{item.name}}
                  </ion-item>
                </div>
                
               <!--  <div ng-repeat='info in MedicalInfo'>
                    <div class="item item-divider">
                        วันที่ {{info.paidDate}}
                    </div>
                    <a href="#/app/information/medical-detail/{{detail.id}}" ng-repeat='detail in info.paidDetails' class="item">
                       จำนวน {{detail.total | number}} บาท
                        <span class="item-note">{{detail.bankName}}</span>
                    </a>
                </div> -->

                <div ng-show='!notFoundData'>
                    <div class="item item-divider" >
                        <h2><b>ค่ารักษาพยาบาล</b></h2>
                    </div>
                    <div class='item item-body'>
                        <b>รวม {{sumTotal | number}} บาท</b>
                    </div>
                </div>
                
                <div ng-repeat="info in MedicalInfo | groupBy:'PaidDate' | toArray:true | orderBy:max ">
                    <div class="item item-divider" >
                        <h2>วันที่ {{GetThaiDateByDate(info.$key)}}</h2>
                    </div>
                    <a href="#/app/information/medical-detail/{{item.Id}}" ng-repeat="item in info | orderBy:'-Id'" class="item" >
                        จำนวน {{item.Total | number}} บาท
                        <span class="item-note">{{item.bankName}}</span>
                    </a>
                </div>

            </div>
            <div class='card' ng-show='notFoundData'>
                <div class='item item-text-wrap'>
                    ไม่พบข้อมูล
                </div>
            </div>

    </ion-content>
</ion-view>
