<ion-view view-title="Medical">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                วันที่ 29 ม.ค.59
            </div>
            <a href="#/app/information/medical-detail" class="item">
               จำนวน 1,434 บาท
                <span class="item-note">ธ.กรุงไทย</span>
            </a>
            <a href="#/app/information/medical-detail" class="item">
               จำนวน 1,434 บาท
                <span class="item-note">ธ.กรุงไทย</span>
            </a>
            <a href="#/app/information/medical-detail" class="item">
               จำนวน 1,434 บาท
                <span class="item-note">ธ.กรุงไทย</span>
            </a>
            <div class="item item-divider">
                วันที่ 1 ก.พ.59
            </div>
            <a href="#/app/information/medical-detail" class="item">
               จำนวน 1,434 บาท
                <span class="item-note">ธ.กรุงไทย</span>
            </a>
            <a href="#/app/information/medical-detail" class="item">
               จำนวน 1,434 บาท
                <span class="item-note">ธ.กรุงไทย</span>
            </a>
            <a href="#/app/information/medical-detail" class="item">
               จำนวน 1,434 บาท
                <span class="item-note">ธ.กรุงไทย</span>
            </a>
        </div>
    </ion-content>
</ion-view>
