<ion-view view-title="Medical">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <h2>ค่ารักษาพยาบาล</h2>
            </div>
            <div class="item">
                    <h2>ประเภท รพ. </h2>
                    <span class="item-text-wrap">รัฐบาล</span>

            </div>
            <div class="item">
                    <h2>ชื่อ รพ. : </h2>
                    <span class="item-text-wrap">ร.พ.รามา</span>

            </div>
            <div class="item">
                    <h2>ประเภทผู้ป่วย : </h2>
                    <span class="item-text-wrap">OPD</span>

            </div>
            <div class="item">
                    <h2>ความสัมพันธ์ : </h2>
                    <span class="item-text-wrap">ตนเอง</span>

            </div>
            <div class="item">
                    <h2>ชื่อผู้รับการรักษา : </h2>
                    <span class="item-text-wrap">นาย ดณุพล ค่ายหนองสวง</span>

            </div>
            <div class="item">
                    <h2>โรค : </h2>
                    <span class="item-text-wrap">ความดันโลหิต</span>

            </div>
            <div class="item">
                    <h2>ยอดเบิกได้ : </h2>
                    <span class="item-text-wrap">2,345</span>

            </div>
            <div class="item">
                    <h2>วันที่ใบเสร็จ : </h2>
                    <span class="item-text-wrap">19 ม.ค.59</span>

            </div>
            <div class="item">
                    <h2>วันที่ ทอท.จ่ายเงิน : </h2>
                    <span class="item-text-wrap">3 ก.พ.59</span>

            </div>
        </div>
    </ion-content>
</ion-view>
