<ion-view view-title="รายละเอียดค่ารักษาพยาบาล">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <h2><b>ค่ารักษาพยาบาล</b></h2>
            </div>
            <div class="item">
                <h2><u>ประเภท รพ.</u></h2>
                <span class="item-text-wrap">{{MedicalDetails.hospitalType}}</span>
            </div>
            <div class="item">
                    <h2><u>ชื่อ รพ.</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.hospitalName}}</span>

            </div>
            <div class="item">
                    <h2><u>ประเภทผู้ป่วย</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.patientType}}</span>

            </div>
            <div class="item">
                    <h2><u>ความสัมพันธ์</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.family}}</span>

            </div>
            <div class="item">
                    <h2><u>ชื่อผู้รับการรักษา</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.patientName}}</span>

            </div>
            <div class="item">
                    <h2><u>โรค</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.disease}}</span>

            </div>
            <div class="item">
                    <h2><u>ยอดเบิกได้</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.total | number}} บาท</span>

            </div>
            <div class="item">
                    <h2><u>วันที่ใบเสร็จ</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.docdate}}</span>

            </div>
            <div class="item">
                    <h2><u>วันที่ ทอท.จ่ายเงิน</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.paidDate}}</span>
            </div>
            <div class="item">
                    <h2><u>ธนาคาร</u></h2>
                    <span class="item-text-wrap">{{MedicalDetails.bankName}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
