<ion-view view-title="เครื่องราชย์ฯ">
    <ion-content>
    	<ion-refresher pulling-text="โหลดข้อมูลใหม่" on-refresh="Refresh()">
        </ion-refresher>
        <div class='list' >
            <div class='item' ng-repeat='info in RoyalInfo'>
                <h2>{{info.royalName}}</h2>
                <p>{{info.royalCode}}</p>
                <p>{{info.royalDate}}</p>
            </div>
        </div>
        <div class='card' ng-show='notFoundData'>
            <div class='item item-text-wrap'>
                ไม่พบข้อมูล
            </div>
        </div>
    </ion-content>
</ion-view>
