<ion-view view-title="ตรวจสอบข้อมูลแตะบัตร">
    <ion-content>
        <ion-refresher pulling-text="โหลดข้อมูลใหม่" on-refresh="Refresh()">
        </ion-refresher>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              เดือน
            </div>
            <select ng-change='BindTimeReportList()' ng-options='option.name for option in ddlMonthsData.options track by option.val' ng-model='ddlMonthsData.selectedOptions'>
            </select>
          </label>
        </div>

        <div class="list" ng-repeat='item in timeReports'>
            <div class='item item-text-wrap'> 
                <p><b>วันที่ : </b>{{item.Date}}</p>
                <p><b>เวลาเข้างาน : </b>{{item.TimeIn}}</p>
                <p><b>เครื่องลงเวลาเข้า : </b>{{item.LocIn}}</p>
                <p><b>เวลาออกงาน : </b>{{item.TimeOut}}</p>
                <p><b>เครื่องลงเวลาออก : </b>{{item.LocOut}}</p>
                <p><b>สถานะ : </b>{{item.Status}}</p>
                <p><b>ออกก่อนเวลา : </b>{{item.EarlyOut}}</p>
                <p><b>ออกหลังเวลา : </b>{{item.EarlyIn}}</p>
                <p><b>ประเภทการทำงาน : </b>{{item.WorkType}}</p>
                <p><b>สถานะการลา : </b>{{item.LeaveStatus}}</p>
                <p><b>หมายเหตุ : </b>{{item.Remark}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
