<ion-view view-title="ข้อมูลการลงเวลา">
    <ion-content>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              เดือน
            </div>
            <select ng-change='BindList()' ng-options='option.name for option in ddlMonthsData.options track by option.val' ng-model='ddlMonthsData.selectedOptions'>
            </select>
          </label>
        </div>

        <div class="list padding-top">
            <div ng-repeat='info in listTimeInfo'>
                <div class="item item-divider">
                    วันที่ {{info.taDate}}
                </div>
                 <div ng-repeat='details in info.taDetails' class='item'>
                    <h2>เวลา {{details.taStampTime}} น.</h2>
                    <p>{{details.taLocation}}</p>
                </div>
            </div>
             
        </div>
    </ion-content>
</ion-view>
