<ion-view view-title="ข้อมูลการลงเวลา">
    <ion-content>
        <div class="list">
            <div class="item">วันที่ 1 ม.ค.59
             <span class="item-note">07.59</span>
            </div>
            <div class="item">วันที่ 2 ม.ค.59
             <span class="item-note">07.59</span>
            </div>
            <div class="item">วันที่ 3 ม.ค.59
             <span class="item-note">07.59</span>
            </div>
            <div class="item">วันที่ 4 ม.ค.59
             <span class="item-note">07.59</span>
            </div>
            <div class="item">วันที่ 5 ม.ค.59
             <span class="item-note">07.59</span>
            </div>
            <div class="item">วันที่ 6 ม.ค.59
             <span class="item-note">07.59</span>
            </div>
            <div class="item">วันที่ 7 ม.ค.59
             <span class="item-note">07.59</span>
            </div>
            <div class="item">วันที่ 8 ม.ค.59
             <span class="item-note">07.59</span>
            </div>
        </div>
    </ion-content>
</ion-view>
