<ion-view view-title="ค่าเล่าเรียนบุตร">
    <ion-content>
        <div class="list">
            <div ng-repeat='info in TuitionInfo'>
                <div class="item item-divider">
                    วันที่ {{info.paidDate}}
                </div>
                <a href="#/app/information/tuition-detail/{{detail.id}}" ng-repeat='detail in info.paidDetails' class="item">
                   จำนวน {{detail.grandtotal | number}} บาท
                    <span class="item-note">{{detail.bankName}}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
