<ion-view cache-view="false" view-title="ปู่ชิว No.1">

    <ion-content has-bouncing='true' delegate-handle="userMessageScroll">

      <div class='message-wrapper' ng-repeat='message in msgDetails'>
        <div class='chat-bubble {{message.side}}'>
            <div class='msg'>
              <span>{{message.msg}}</span>
            </div>
            <div class='msg-date'>
               <span>ส่งเมื่อ : {{message.msgDate}}</span>
            </div>
          </div>
          <div class='cf'></div>
      </div>
      
        <!-- <div class='message-wrapper'>
          <div class='chat-bubble left'>
            <div class='msg'>
              <span>asdasdasd</span>
            </div>
            <div class='msg-date'>
               <span>(22/3/2016 16:22)</span>
            </div>
          </div>
        </div>
        
        <div class='message-wrapper'>
          <div class='chat-bubble right'>
            <div class='msg'>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
            </div>
            <div class='msg-date'>
               <span>(22/3/2016 16:22)</span>
            </div>
          </div>
        </div> -->

    </ion-content>


    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="พิมพ์ข้อความที่นี่ ...." ng-model="message" />
      </label>
      <button ng-disabled='message.length == 0' class="button button-icon icon ion-android-send footer-btn" ng-click="sendMessage()">
      </button>
    </ion-footer-bar>

</ion-view>
