<ion-view cache-view="false">
  <ion-nav-title>
    
  <span class='button icon-right button-clear ion-android-arrow-dropdown' ng-click='popover.show($event)'>{{roomDetails.roomName}}&nbsp;&nbsp;</span>
  </ion-nav-title>

    <ion-content has-bouncing='true' delegate-handle="userMessageScroll">

      <ion-refresher pulling-text="โหลดข้อความก่อนหน้า" on-refresh="loadPreviousMsg()">
      </ion-refresher>

      <div class='message-wrapper' ng-repeat='message in msgDetails'>
        <div ng-show='message.side == "left"' class='chat-name'>
          <img  src="{{message.PictureThumb}}" class='profile-pic left' />
          <span class='chat-name'>{{message.Firstname}}</span>
        </div>
        
        <div class='chat-bubble {{message.side}}'>
            <div class='msg'>
              <span>{{message.msg}}</span>
            </div>
            <div class='msg-date'>
              <div ng-show='(message.side == "right")'>
                <span ng-show="(message.readTotal > 0)">(อ่านแล้ว) <span ng-show="roomDetails.roomType == 2">{{message.readTotal}}</span> | </span>
              </div>
              <div>
                 <span>ส่งเมื่อ : {{message.TS}}</span>
              </div>
            </div>
            <div ng-show="message.showExtraBtn">
              <i ng-show="(message.side == 'right')" class='ion-ios-information-outline'> <span ng-click='resendMessage(message.msgId)' class='extraBtn'> Resend</span></a></i>
              <i ng-show="(message.side == 'right')" class='ion-ios-trash-outline'> <span ng-click='deleteMessage(message.msgId)' class='extraBtn'> Delete</span></a></i>
            </div>
        </div>
          <div class='cf'></div>
      </div>
      
    </ion-content>


    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" ng-disabled='noInternet' placeholder="พิมพ์ข้อความที่นี่ ...." ng-model="message" />
      </label>
      <button ng-disabled='message.length == 0' ng-disabled='noInternet' class="button button-icon icon ion-android-send footer-btn" ng-click="sendMessage()">
      </button>
    </ion-footer-bar>

    <script id="templates/PMMenus.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item text-center icon-left ion-android-person-add" ng-click='popover.hide($event)' href="#/app/directory?pmroomid={{roomId}}"> ชวนคนอื่นเข้าร่วม</a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>

</ion-view>
