<ion-view cache-view="false" view-title="ข้อความส่วนตัว">
    <ion-content>

        <ion-refresher pulling-text="โหลดข้อมูลใหม่" on-refresh="Refresh()">
        </ion-refresher>
  
        <div class="list">

          <a class="item item-avatar" href="#/app/pms/1">
            <img src="img/people.jpg">
            <h2>ปู่ชิว No.1</h2>
            <p>ข้อความล่าสุด 1</p>
            <span class='badge badge-assertive'>999</span>
          </a>

          <a class="item item-avatar" href="#/app/pms/2">
            <img src="img/people.jpg">
            <h2>ปู่ชิว No.2</h2>
            <p>ข้อความล่าสุด 2</p>
            <span class='badge badge-assertive'>105</span>
          </a>

          <a class="item item-avatar" href="#/app/pms/3">
            <img src="img/people.jpg">
            <h2>ปู่ชิว No.3</h2>
            <p>ข้อความล่าสุด 3</p>
            <span class='badge badge-assertive'>57</span>
          </a>

        </div>  

    </ion-content>
</ion-view>
