
<ion-view view-title="สมุดโทรศัพท์">

    <ion-content>
    <form ng-submit="searchEnter()">
        <div class="bar bar-header item-input-inset directory-search">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="ค้นหาเบอร์โทรศัพท์" ng-model="searchData.keyword">
            </label>
            <button type='button' ng-click='searchData.keyword = ""' class="ion-android-close button button-outline button-positive" ng-show="searchData.keyword.length > 0">
            </button>
        </div>
        <div class='row'>
            <div class='col'>
                <h4 class="directory-help">สามารถค้นหาข้อมูลพนักงานได้จากชื่อจริง นามสกุล ชื่อเล่น ตำแหน่ง สังกัด (งาน ส่วน ฝ่าย) และหมายเลขโทรศัพท์ ได้</h4>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <button ng-disabled='noInternet || searchData.keyword.length <= 1'  type='submit' class='button button-positive button-block'>
                    <i class='icon ion-search'></i>
                    ค้นหา
                </button>
            </div>
        </div>
    </form>
        <ion-list>
            <ion-item ng-repeat="person in directoryList" class="item-thumbnail-left item-text-wrap" href="#/app/directory/{{person.UserID}}?pmroomid={{PMRoomId}}">
                <img ng-src="http://{{person.PictureThumb}}" alt="">
                <h2>{{person.PrefixName + ' ' + person.Firstname + ' ' + person.Lastname}} {{ (person.Nickname != null && person.Nickname) ? '(' + person.Nickname + ')' : ''}}</h2>
                <h3>{{person.Position}}</h3>
                <p>{{person.Section}} {{person.Department}}</p>
            </ion-item>
        </ion-list>
        <div ng-show='notFoundData' class='card'>
            <div class='item'>
                ไม่พบข้อมูล
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMoreData()" ng-if="haveMoreData" distanct="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
