<ion-view view-title="ข้อมูลส่วนตัว">
	<ion-content>

        <div class='row'>
            <div class='col col-33'></div>
            <div class='col col-33 text-center'>
               <img class='full-image' src="http://eservice2.airportthai.co.th/getimage.aspx?empID1={{currentPerson.personId}}&empID2={{currentUserName}}" />
            </div>
            <div class='col col-33'></div>
        </div>

    	<!--  <div ng-show='onWeb' class='row'>
            <div class='col col-33'></div>
            <div class='col col-33 text-center'>
               <img class='full-image' src="http://eservice2.airportthai.co.th/getimage.aspx?empID1={{currentPerson.personId}}&empID2={{currentUserName}}" />
            </div>
            <div class='col col-33'></div>
        </div>

        <div ng-show='!onWeb' class='row'>
            <div class='col text-center'>
               <img class='full-image' src="http://eservice2.airportthai.co.th/getimage.aspx?empID1={{currentPerson.personId}}&empID2={{currentUserName}}" />
            </div>
        </div> -->       

    	<div class='row'>
    		<div class='col text-center item-text-wrap'>
    			<h3>{{currentPerson.personDetails.FullName}}</h3>
	      		<h4>{{currentPerson.personDetails.Position}}</h4>
                <h4>{{currentPerson.personDetails.Department}}</h4>
                <p class='smalltext'>Update : {{currentPerson.personDetails.UpdateDate}}</p>
    		</div>
    	</div>

     <!--    <div ng-show='(PMInfo.isInvite == false && PMInfo.showSendPMbtn == true)' class='row'>
            <button class='button button-block button-calm' ng-click='sendPMMsg()'>
                <i class='icon ion-chatbubble-working'></i> ส่งข้อความ
            </button>
        </div> -->

        <div ng-show='(PMInfo.isInvite == true && PMInfo.showInvitebtn == true)' class='row'>
            <button class='button button-block button-balanced' ng-click='InvitePMMSg()'>
                <i class='icon ion-plus-circled'></i> ชวนเข้าร่วมการสนทนา
            </button>
        </div>
        
        <div class="card">
            <a ng-class-odd="'item item-divider item-text-wrap'" ng-class-even="'item item-text-wrap'" ng-repeat="contact in currentPerson.contacts" href="{{contact.href}}">
                {{contact.ContactKey + ' : ' + contact.ContactValue}}
                <p class='item-icon-right'>
                    <i class='icon {{contact.rowIcon}}'></i>
                </p>
            </a>
        </div>

      
        
	</ion-content>
</ion-view>

<style type="text/css">
    .smalltext{font-size: 11px;}
</style>