<ion-view cache-view="false" view-title="QR-Code">
    <ion-content>

	<a href="#/app/genqrcode" class='button button-block button-positive'><i class='icon ion-edit'></i>&nbsp;&nbsp;สร้าง QR-Code</a>
	<!-- <a href='#/app/readqrcode' class='button button-block button-balanced'><i class='icon ion-qr-scanner'></i>&nbsp;&nbsp;อ่าน QR-Code</a> -->

    <!-- <button ng-click='Scan()' class='button button-block button-balanced'><i class='icon ion-qr-scanner'></i>&nbsp;&nbsp;สแกนใหม่อีกครั้ง</button>     -->
      
    </ion-content>
</ion-view>
