  
<ion-view cache-view="false" view-title="{{title}}">

    <ion-content>

      <a ng-show='selfserviceRequestButton.show' href='{{selfserviceRequestButton.requestURL}}' class="button button-icon icon ion-plus-circled"></a>

	    <div id='listTask' class='list' >

<!--         <a ng-href="{{itemDetailURL}}?documentId={{ssItem.DocumentId}}&nextLevel={{ssItem.NextLevel}}" class='item' ng-class="ssItem.IsRead == false ? 'ssNewItem' : 'ssOldItem'" ng-repeat='ssItem in SSList'>
          <h2>{{ssItem.DocumentTitle}}</h2>
          <h2>หมายเหตุ : {{ssItem.Note}}</h2>
          <p>แก้ไขล่าสุด : {{ssItem.LastUpdate}}</p>
        </a> -->
        <a ng-href="{{itemDetailURL}}?documentId={{ssItem.DocumentId}}&nextLevel={{ssItem.NextLevel}}" class='item' ng-repeat='ssItem in SSList'>
          <h2>{{ssItem.DocumentTitle}}</h2>
          <h2>หมายเหตุ : {{ssItem.Note}}</h2>
          <p>แก้ไขล่าสุด : {{ssItem.LastUpdate}}</p>
          <span class='badge badge-assertive' ng-show='ssItem.IsRead == false'><i class='icon ion-android-mail'></i></span>
        </a>

      </div>

      <div ng-show='noItems' class='card'>
        <div class="item item-text-wrap">
          ไม่พบข้อมูล
        </div>
      </div>


      

      <style type="text/css">
        .ssNewItem{
          background-color: #FA8484  !important;
        }
        .ssOldItem{
          background-color: #7ACAF5 !important;
        }
      </style>

    </ion-content>

    

</ion-view>