
<ion-view view-title="SelfService">

    <ion-content>
	     <div class='list'>

          <a class='item item-icon-left' href="#/app/changepassword">
             <i class='icon ion-locked'></i> เปลี่ยนรหัสผ่าน
          </a>

          <a class="item item-icon-left" href="#/app/genqrswapduty">
            <i class="icon ion-arrow-swap"></i> แลก/แทนเวร
          </a>

          <a class="item item-icon-left" href="#/app/cardrequest">
            <i class="icon ion-card"></i> ขอทำบัตร
          </a>          

       </div>
    </ion-content>

</ion-view>

<style type="text/css">
  .delete-checkin-button{
    position:relative;
    float: right;
  }
</style>
