<ion-view cache-view="false" view-title="รายละเอียด บันทึกลงเวลา">

    <ion-content>

      <div class='list'>

        <!-- section-details -->
        <div class='item item-divider'>
          <h2><b>รายละเอียดคำขอ</b></h2>
        </div>

        <div class='item'>
          <p><b>ผู้บันทึกลงเวลา</b></p>
          <p>{{TimeWorkDetails.Empl_Code}}</p>
        </div>

        <div class='item'>
          <p><b>รายละเอียด</b></p>
          <p>ประเภทเวลา : {{TimeWorkDetails.TimeCode}}</p>
          <p>เหตุผล : {{TimeWorkDetails.Reason}}</p>
          <p>วันที่ : {{TimeWorkDetails.StartDate}}</p>
          <p>ถึงวันที่ : {{TimeWorkDetails.EndDate}}</p>
          <p>บันทึกเวลากับ : {{TimeWorkDetails.TimeWith}}</p>
          <!-- <p>{{TimeWorkDetails.DocumentDescription}}</p> -->
        </div>
        <!-- section-details -->

        <!-- section-history -->
        <div class='item item-divider'>
          <h2><b>ประวัติ</b></h2>
        </div>

        <div class='item' ng-repeat='history in TimeWorkHistories'>
          <p>{{history.ActionTypeName}} , {{history.UpdateBy}} , {{history.UpdateDate}}</p>
        </div>   
        <!-- section-history -->

        <!-- section-button -->
        <div ng-show='showBtnAcknowledgment' class='row padding'>
          <div class='col'>
            <input type='button' ng-disabled='noInternet' ng-click='confirmAcknowledge()' class='button button-block button-balanced' value='รับทราบ' />
          </div>
        </div>

        <div ng-show='showBtnApprove' class='row padding'>
          <div class='col col-50'>
            <input type='button' ng-disabled='noInternet' ng-click='confirmApproveOrReject(true)' class='button button-block button-positive' value='อนุมัติ' />
          </div>
          <div class='col col-50'>
            <input type='button' ng-disabled='noInternet' ng-click='confirmApproveOrReject(false)' class='button button-block button-assertive' value='ไม่อนุมัติ' />
          </div>
        </div>
        <!-- section-button -->

      </div>

    </ion-content>

</ion-view>
