<ion-view cache-view="false" view-title="รายละเอียด ขอทำบัตรพนักงาน">

    <ion-content>

      <div class='list'>

        <!-- section-details -->
        <div class='item item-divider'>
          <h2><b>รายละเอียดคำขอ</b></h2>
        </div>

        <div class='item item-text-wrap'>
          <p><b>เรื่อง</b></p>
          <p>{{cardRequestDetails.DocumentTitle}}</p>
        </div>

        <div class='item item-text-wrap'>
          <p><b>รายละเอียด</b></p>
          <p>{{cardRequestDetails.DocumentDescription}}</p>
        </div>
        <!-- section-details -->

        <!-- section-history -->
        <!-- <div class='item item-divider'>
          <h2><b>ประวัติ</b></h2>
        </div>

        <div class='item item-text-wrap' ng-repeat='history in cardRequestHistories'>
          <p>{{history.RouteName}} , {{history.UpdateBy}} , {{history.UpdateDate}}</p>
        </div>    -->
        <div ng-repeat="group in historyGroups">
            <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;<b>{{group.name}}</b>
            </ion-item>
            <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(group)" ng-repeat="item in group.items">
                <p><b>{{item.RouteName}} :</b> {{item.RouteName}} , {{item.UpdateBy}} , {{item.UpdateDate}}</p>
          </ion-item>
        </div>
        <!-- section-history -->

        <!-- section-nextState -->
        <div class='item item-divider'>
          <h2><b>สถานะต่อไป</b></h2>
        </div>

        <div class='item item-text-wrap'>
          <p>{{stateNextLevel}}</p>
        </div> 
        <!-- section-nextState -->

        <!-- section-button -->
        <div ng-show='showBtnAcknowledgment' class='row padding'>
          <div class='col'>
            <input type='button' ng-disabled='noInternet' ng-click='confirmAcknowledge()' class='button button-block button-balanced' value='รับทราบ' />
          </div>
        </div>

        <div ng-show='showBtnApprove' class='row padding'>
          <div class='col col-50'>
            <input type='button' ng-disabled='noInternet' ng-click='confirmApproveOrReject(true)' class='button button-block button-positive' value='อนุมัติ' />
          </div>
          <div class='col col-50'>
            <input type='button' ng-disabled='noInternet' ng-click='confirmApproveOrReject(false)' class='button button-block button-assertive' value='ไม่อนุมัติ' />
          </div>
        </div>
        <!-- section-button -->

      </div>

    </ion-content>

</ion-view>
