<ion-view view-title="หนังสือเวียน">
    <ion-content>
        <ion-refresher pulling-text="โหลดข้อมูลใหม่" on-refresh="Refresh()">
        </ion-refresher>
        <!-- <div class="list">
            <div ng-repeat='circular in Circulars'>
                <div class="item item-divider">
                    <h2>วันที่ {{circular.circularDate}}</h2>
                </div>
                <a href="#" ng-click='OpenPDF(circularDetail.link)' class="item" ng-repeat='circularDetail in circular.circularDetails'>
                    <h2>{{circularDetail.header}}</h2>
                    <p>{{circularDetail.description}}</p>
                </a>
            </div>
        </div> -->

        <ion-list>
            <div class="card" ng-repeat='circular in Circulars'>
                <div class="item item-divider">
                    <h2>วันที่ {{circular.circularDate}}</h2>
                </div>
                <a href="#" ng-click='OpenPDF(circularDetail.Id)' class="item" ng-repeat='circularDetail in circular.circularDetails'>
                    <h2>{{circularDetail.header}}</h2>
                    <p>{{circularDetail.description}}</p>
                </a>
            </div>
        </ion-list>

        <ion-infinite-scroll on-infinite="loadMoreData()" ng-if="haveMoreData" distanct="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
