/*.card .item p {*/
    /*display: block; !* Fallback for non-webkit *!*/
    /*display: -webkit-box;*/
    /*max-width: 400px;*/
    /*height: 55.6px; !* Fallback for non-webkit *!*/
    /*margin: 0 auto;*/
    /*font-size:14px;*/
    /*line-height: 1.4;*/
    /*-webkit-line-clamp: 3;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: normal;*/
/*}*/


/*
### Login Page
*/

.login_input{
    padding: 10px 20px 20px 20px;
    background-color: #fff;
}
.login_input > input{
    border: solid 1px #ccc;
    border-radius: 5px;
    height: 50px;
    padding: 15px;
    font-size: 20px;
}
.login_input > input::-webkit-input-placeholder {
    color: #cccccc !important;
}
.login_input > input::-moz-placeholder {
    color: #cccccc !important;
}

.login_input > .input-label{
    font-size: 20px;
}

/* Tile Menu Pages */

.col-33 > .card{
    height: 110px;
}

.col-33 > .card > .item{
    height: 100%;
    vertical-align: bottom;
}


.col-33 > .card > .item > h4{
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    padding-right: 20px;
}


  /* Contact Directory*/

.directory-search{
    height: 70px;
}
.directory-search > .item-input-wrapper{
    height: 50px;
}
.directory-search > .item-input-wrapper > input{
    font-size: 18px;
}

.directory-search > .item-input-wrapper > i{
    font-size: 18px;
}

.directory-help{
    font-size: 14px;
    color: #444;
}






.header-badge{
    display:inline-table !important;
    margin-right:-6px;
}

.ssmenu-container{
    position: relative;
}

.col-33 .badge{
    float: right;
    position: absolute;
    display: block;
    right: 5px;
    z-index: 99;
}
.col-33 .item{
    padding: 10px 0px 10px 0px;
}

/*!*chat-css*!*/

/*.date-notice{*/
  /*border:2px solid;*/
  /*width:100px;*/
  /*padding:5px;*/
  /*margin:10px auto 10px auto;*/
  /*border-radius: 5px;*/
  /*color: white;*/
  /*background-color: gray;*/
  /*border-color: #6d6d6d;*/
/*}*/

/*.bar.item-input-inset .item-input-wrapper input {*/
  /*width: 100% !important;*/
/*}*/

/*.extraBtn{*/
  /*color:white;*/
  /*cursor:pointer;*/
  /*text-decoration: underline;*/
/*}*/

/*.extraBtn:first-child{*/
  /*margin-right: 20px;*/
/*}*/

/*.message-wrapper {*/
  /*position: relative;*/
/*}*/

/*.chat-bubble {*/
  /*border-radius: 5px;*/
  /*display: inline-block;*/
  /*padding: 10px 18px;*/
  /*position: relative;*/
  /*margin: 10px 10px 10px 10px;*/
  /*max-width: 80%;*/
/*}*/

/*.chat-bubble:before {*/
  /*content: "\00a0";*/
  /*display: block;*/
  /*height: 16px;*/
  /*width: 9px;*/
  /*position: absolute;*/
  /*!*bottom: -7.5px;*!*/
  /*top: -7.5px;*/
/*}*/

/*.chat-bubble.left {*/
  /*background-color: #e6e5eb;*/
  /*float: left;*/
  /*margin-left: 45px;*/
/*}*/

/*div.chat-name{*/
  /*!*margin-top: 10px;*!*/
/*}*/

/*span.chat-name{*/
  /*margin-left: 45px;*/
/*}*/

/*.chat-bubble.left:before {*/
  /*background-color: #e6e5eb;*/
  /*left: 10px;*/
  /*-webkit-transform: rotate(134deg) skew(5deg);*/
  /*!*-webkit-transform: rotate(70deg) skew(5deg);*/
  /*left: 10px;*!*/
  /**/
/*}*/

/*.chat-bubble.right {*/
  /*background-color: #158ffe;*/
  /*color: #fff;*/
  /*float: right;*/
  /*margin-right: 10px;*/
  /*margin-top:10px;*/
/*}*/

/*.chat-bubble.right:before {*/
  /*background-color: #158ffe;*/
  /*!*right: 10px;*/
  /*-webkit-transform: rotate(118deg) skew(-5deg);*!*/
  /*right: 11px;*/
  /*-webkit-transform: rotate(234deg) skew(-5deg);*/
/*}*/

/*.msg{*/
    /*font-size: 16px;*/
    /*border-bottom:1px dashed;*/
    /*padding-bottom: 5px;*/
/*}*/

/*.msg-date{*/
    /*padding-top:5Qpx;*/
    /*font-size: 12px;*/
/*}*/

/*.msg-date div{*/
    /*display: inline-block;*/
/*}*/

/*img.profile-pic {*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*border-radius: 50%;*/
  /*position: absolute;*/
  /*!*bottom: 10px;*!*/
/*}*/

/*.cf {*/
  /*clear: both !important;*/
/*}*/



/*!*herader*!*/
/*!*background-color: #273340 !important;*/
/*border-bottom: 2px solid #4E5E6D !important;*!*/

/*!*menu*!*/
/*!*background-color: #354658 !important;*/
/*border-bottom: 2px solid #4E5E6D;*/
/*color: #F0F1F1;*!*/

/*!*Side-Menu*!*/
/*!*.header-dark{*!*/
  /*!*background-color: #002E5F !important;*!*/
  /*!*border-bottom: 2px dashed #4E4E4E !important;*!*/
/*!*}*!*/
/*!*.header-dark h1{*!*/
  /*!*color: black;*!*/
/*!*}*!*/
/*!*.dark {*!*/
  /*!*background-color: #CEEEF7 !important;*!*/
  /*!*color: black;*!*/
/*!*}*!*/
/*!*.dark .scroll-content {*!*/
  /*!*background-color: #CEEEF7 !important;*!*/
/*!*}*!*/
/*!*.dark .item {*!*/
  /*!*background-color: #CEEEF7;*!*/
  /*!*border: none;*!*/
  /*!*border-bottom: 2px dashed #0a9dc7;*!*/
  /*!*padding: 20px;*!*/
  /*!*color: black;*!*/
  /*!*max-height: none;*!*/
/*!*}*!*/
/*!*.dark .item:last-child {*!*/
  /*!*border-bottom: 2px dashed #0a9dc7 !important;*!*/
/*!*}*!*/
/*!*.dark h2,*!*/
/*!*.dark h3,*!*/
/*!*.dark p,*!*/
/*!*.dark a {*!*/
  /*!*color: black;*!*/
/*!*}*!*/

/*.dark .scroll .list {*/
/*background-color: #009cde !important;*/
    /*!*background-image: url("../img/MobileBG.jpg");*!*/
    /*color: #cccccc;*/
/*}*/
/*.dark .scroll a{*/
/*color: #ffffff;*/
    /*background-color: #009cde;*/
/*}*/

.dark .list a:first-child{
    background-image: url("../img/profileBG.jpg");
}
.dark .list a:first-child p ,h2{
    color: #ffffff;
}
.img-circle{
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.dark .list {
    color: #4c565c;
    /*font-weight: 500;*/
}
.dark .list i{
    font-size:larger;
    /*color: #009cde;*/
    /*color: #002e5f;*/
    color: #004A99;
}
/*rating*/
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
  color:#13C4EF;
}
.labelbox {
    border: 1px solid rgb(215,215,215);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* accordion */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
/* accordion */


/*!*background*!*/

.scroll-content{
    /*background-color: #bde3f2;*/
    /*background-image: url("../img/MobileBG.jpg");*/
    background: #d4d6d8 !important;
}

/*.scroll .list .item >.item{*/
    /*background: none;*/

/*}*/

/*!*Customize Card*!*/

.card{
    border-radius: 5px;
    margin: 5px;
    /*padding: 0px 0px 10px 0px;*/

    /*background: #d4d6d8 !important;*/
    background: #ffffff;

    border: outset #eeeeee 0.5px;

}
.card .item{
    padding: 10px ;
    /*background: none;*/
    /*!*color: #002e5f;*!*/
    /*color: #ffffff;*/
    /*background-color: #009cde;*/
    /*background-image: url("../img/transparent.png");*/
}

.item-divider h2{
    /*padding-left: 10px;*/
    color: #222 !important;
}
.card h4{
    /*color: #ffffff;*/
    color: #4c565c;
}

/*.item{*/
    /*border-color: #aaaaaa;*/
    /*background-color: #009cde;*/
/*}*/
.item p{
    color: #4c565c;
}
.item h2{
    color: #333;
}
.item-thumbnail-left .item-content > img:first-child{
    border-radius: 50%;
}
/*.item-divider{*/
    /*background-color: #004A99;*/
    /*color: #ffffff;*/
/*}*/

/*.card .item-divider{*/
    /*background-color: #004A99;*/
/*}*/

/*.img-circle{*/
    /*border: 0px;*/
/*}*/

/*.bar {*/
    /*background: none;*/

/*}*/
/*.item-input-wrapper{*/
    /*background: none;*/
    /*background-image: url("../img/transparent.png");*/
    /*border-radius: 20px;*/
    /*color: #ffffff;*/
/*}*/

/*form-validation*/
.error-container {
    margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}

.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}

.last-error-container > .error {
    padding: 10px 16px 0;
}

.has-errors {
    border-bottom: 3px solid #B83E2C;
}

.no-errors {
    border-bottom: 3px solid green;
}
/*form-validation*/


/*!*customize*!*/

.col{
    padding:0px;
    margin: 0px;
}

.larger{
    font-size: 50px;
    /*color: #004A99;*/
    color: #009cde;

}

