.spn-login-timeout{
	margin-left: 10px;
	margin-right: 10px;
}

.row-padding{
    padding: 10px 10px 0px 10px !important;
}

.pin-cover{
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 1px;
    background: #f7f7f7;
    text-align: center;
}

.pin-btn-cover{
    width:90%;
    margin: auto;
}

.col-padding{
    padding: 5px 5px 0px 5px !important;
}


/*.circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}*/

/*.number {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 0;
}

.number-push {
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 100%;
    border: 4px solid #dfffff;
    margin-right: 40px;
    margin-bottom: 23px;
    cursor: pointer;
    font-size: 4em;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: background-color 300ms, color 300ms;
}

.number-pad {
    width: 530px;
    position: relative;
    text-align: center;
    padding-top: 40px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    left: 50%;
    top: 70px;
    z-index: 2;
    color: #dfffff;
}*/

body.wrong {
  -webkit-animation: bg-red 1s ease-in;
  animation: bg-red 1s ease-in;
}

body.correct {
  -webkit-animation: bg-green 1s ease-in;
  animation: bg-green 1s ease-in;
}

.spnPINHeaderTxt{
  font-size:19px;
  font-weight: bold;
  color:#696565;
}

